body{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background: linear-gradient(45deg, #FFD700, #FF8C00);
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    
  }

  input{
    margin: auto;
    padding: 0;
    display: flex;
    width: auto;
    height: 1.5rem;
    flex-direction: column;
    flex-wrap: wrap;
  }

  button{
    margin: 0.5rem;
  }

  form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    padding: 1rem;
  }

  #result-container{
    display: none;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  }
