body{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #FFD700, #FF8C00);
  overflow-x: hidden;
  
}

  input{
    border-radius: 0.5rem;
  }

  button{
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    max-width: 20rem;
    margin: auto;
  }
  h1 {
    text-align: center;
  }

  h2{
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: max-content;
    clear: both;
  }
  div{
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
  }
  #error{
    display: flex;
    justify-content: center;
  }

  #result-container {
    display: none;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
    border-radius: 1rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    flex-grow: 1; 
    overflow: hidden; 
  }
  
  .forecast-item {
    flex-basis: 33.33%;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0.1); 
    margin-bottom: 1rem; 
  }

  #interval-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    flex: 1;
    margin: 0;
    text-align: center;
  }
  
  .input-container {
    margin: 0;
    flex: 2;
    text-align: center;
  }
  
  #decrease-button {
    margin: 0;
    margin-right: 0.5rem;
  }
  
  #increase-button {
    margin: 0;
    margin-left: 0.5rem;
  }

  #hours{
    margin-top: 0;
  }

  @media only screen and (max-width: 768px) {
    form {
      max-width: 90%;
    }
  
    .forecast-item {
      flex-basis: 50%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    form {
      padding: 0.5rem;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    div {
      margin: 0.5rem;
      padding: 0.5rem;
    }
  
    #result-container {
      padding: 1rem;
      margin: 1rem;
    }
  
    .forecast-item {
      flex-basis: 100%;
    }
  }