body{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #FFD700, #FF8C00);
  }

  input{
    border-radius: 0.5rem;
  }

  button{
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    max-width: 20rem;
    margin: auto;
  }
  h1 {
    text-align: center;
  }

  div{
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
  }

  #result-container {
    display: none;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.1);
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem; 
    flex-grow: 1; 
  }
  
  .forecast-item {
    flex-basis: 33.33%;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0.1); 
    margin-bottom: 1rem; 
  }
